<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave a Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm px-5 py-3 py-lg-0">
        <a href="/" class="Header-branding" data-nc-element="branding" data-content-field="site-title">
            <img src="{% static 'image/logo2.PNG' %}" alt="One &amp; Done Remodeling" sizes="200px"
                class="Header-branding-logo" style="display:block; width:180px; height:auto;" loading="lazy"
                decoding="async" data-loader="sqs">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4 border-end border-5 border-primary">
                <a href="/" class="nav-item nav-link">Home</a>
                <a href="/about_us" class="nav-item nav-link">About</a>
                <a href="/services" class="nav-item nav-link active">Services</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a href="/recent_reviews" class="dropdown-item">My Recent Reviews</a>
                    </div>
                </div>
                <a href="/contact" class="nav-item nav-link">Contact</a>
            </div>
            <div class="d-none d-lg-flex align-items-center ps-4">
                <i class="fa fa-2x fa-mobile-alt text-secondary me-3"></i>
                <div>
                    <h5 class="text-primary mb-1"><small>Call Now</small></h5>
                    <h6 class="text-light m-0">+012 345 6789</h6>
                </div>
            </div>
        </div>
    </nav>
    
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="container">
        <h2 class="mb-4">Leave a Review for technician {{ technician.first_name }} {{ technician.last_name }}</h2>
        <form method="post" action="{% url 'create_review' technician_id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="content">Review:</label>
                <textarea name="content" rows="4" class="form-control" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">
                Submit Review <i class="fas fa-paper-plane"></i>
            </button>
        </form>
    </div>

    <section class="container mt-5">
        <h2 class="mb-4">Recent Reviews for Technician {{ technician.first_name }} {{ technician.last_name }}</h2>
        <ul class="list-group">
            {% for review in technicain.technician_reviews.all %}
            <li class="list-group-item">
                <p class="mb-1"><strong>{{ review.user.first_name }} {{ review.user.last_name }}</strong>: {{ review.content }} <small class="text-muted">({{ review.updated_at }})</small></p>
            </li>
            {% endfor %}
        </ul>
    </section>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>